 /** colors **/
 
 //  $primaryColor: #49b6aa;
 $primaryColor: #282355;
 $contrastColor: #ffffff;
 $fontColor: #9999;
 $darkColor: #212529;
 $backGroundShade:#f9f9f9;
 /** font **/
 
 $fontName: Helvetica;
 $fontSize: 14px;